.messages-container {
  display: block;
  position: absolute;
  height: 100%;
}

.message-container {
  width: 530px;
  height: 42%;
  background-color: white;
  text-align: center;
}

.messages-maintext {
  align-items: center;
  color: #282c34;
  text-align: center;
}

.message-btn {
  width: 99%;
  border: 3px solid whitesmoke;
  border-radius: 1px;
  border-right-color: black;
  border-bottom-color: black;
}

.message-btn:active {
  border: 3px solid black;
  border-right-color: whitesmoke;
  border-bottom-color: whitesmoke;
}

.message {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #009294;

  &_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("../../icons/pirate.png") no-repeat center;
    background-size: 100%;
  }

  &_text-post {
    padding: 0 10px;
    border: 3px solid black;
    border-right-color: whitesmoke;
    border-bottom-color: whitesmoke;
    background-color: white;
  }
}