
div .modal-content{
  width: 600px;
  border: 2px solid white;
  border-right-color: black;
  border-bottom-color: black;
  background-color: #bababa;
  border-radius: 0;
  font-family: "Lucida Console";
}
div .modal-header{
  .modal-title{
    font-size: 20px;
  }

  height: 30px;
  color: white;
  background-color: #0104c4;
  border: 0;
  border-radius: 0;
  padding: 0 15px;
}
button .close .modal-header {
  color: white;
  box-shadow: none;
  opacity: 0;
}
div .modal-footer{
  border: 0;
  height: 50px;
}
.cancelBtn.btn.btn-secondary{
  :active{
    border: 2px solid black;
    border-right-color: white;
    border-bottom-color: white;
  }

  color: black;
  background-color: #bababa;
  border: 2px solid white;
  border-right-color: black;
  border-bottom-color: black;
  height: 40px;
  padding: 0;
  font-size: 14px;
  border-radius: 0;
}

.postBtn.btn.btn-primary{
  :active{
    border: 2px solid black;
    border-right-color: white;
    border-bottom-color: white;
  }
  color: black;

  border: 2px solid white;
  border-right-color: black;
  border-bottom-color: black;
  height: 40px;
  padding: 0;
  font-size: 14px;
  border-radius: 0;
}
textarea.postArea.form-control
{
  border-radius: 0;
  border: 2px solid black;
  border-right-color: whitesmoke;
  border-bottom-color: whitesmoke;
}

