
.profile {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100%;
    float: right;
    padding: 3px;
    border: 2px solid black;
    border-top: white 2px solid;
    border-left: white 2px solid;
    background-color: #009294;
  }

  &_avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 0.5px solid black;
    background-image: url("../../icons/oldman.jpg");
    background-size: cover;
  }

  &_button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-weight: bolder;
    border: 3px solid black;
    border-top: white 3px solid;
    border-left: white 3px solid;
    background-color: #009294;
  }
  &_button:active{
    border: 3px solid white;
    border-top: black 3px solid;
    border-left: black 3px solid;
  }

  &_button_exit {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-weight: bolder;
    user-select: none;
    border: 3px solid black;
    border-top: white 3px solid;
    border-left: white 3px solid;
    background-color: red;
  }
  &_button_exit:active{
    border: 3px solid white;
    border-top: black 3px solid;
    border-left: black 3px solid;
  }
}
